.bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    min-width: 100%;
    min-height: 100%;
}
.MainPage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10vh 20vh 20vh 20vh 10vh 20vh 10vh;
    grid-template-areas:
            ". . . . . . . "
            " . . . . . procent procent"
            ".  witcher witcher . . bonus bonus"
            ". witcher witcher . . copyy copyy"
            ". witcher witcher . . play play"
            ". witcher witcher  . . . ."
            "logo witcher witcher . . . term";
    justify-items: center;
    align-items: center;
    text-align: center;
}

.procent{
    grid-area:procent;
    color: aliceblue;
    font-family: Pompadur, 'Comic Sans MS', cursive;
    font-size: 1100%;
}
.bonus{
    grid-area:bonus;
    color: aliceblue;
    font-size: 600%;
    font-family: Pompadur, 'Comic Sans MS', cursive;
    white-space: nowrap;
    width: 100%;
    text-align: right;
}
.copyy{
    grid-area:copyy;
    color: aliceblue;
    font-family: Pompadur, 'Comic Sans MS', cursive;
    white-space: nowrap;
    width: 100%;
    text-align: center;
}
.copyy p{
    display: inline-block;
    vertical-align: top;
    font-size: 400%;
    border-top-style:dashed;
    border-bottom-style:dashed;
    padding: 4%;

}
.copyy #l{
    border-bottom-left-radius: 50px 50px;
    border-top-left-radius: 50px 50px;
    border-left-style:dashed;
}
.copyy #r{
    border-right-style:dashed;
    border-left-style:dashed;
    border-top-right-radius: 50px 50px;
    border-bottom-right-radius: 50px 50px;
}
.play{
    min-width: 100%;
    max-width: 200%;
    border-radius: 20px;
    background-color: crimson;
    font-size: 600%;
    grid-area:play;
    color: aliceblue;
    font-family: Pompadur, 'Comic Sans MS', cursive;
    white-space: nowrap;

}
.play button{
    font-weight: 900;
    letter-spacing: 1px;
    transition: all 150ms linear;
}
.play:hover {
    text-decoration: none;
    text-shadow: -1px -1px 0 ;
    transition: all 250ms linear;
}
.logo{
    grid-area:logo;
}
@font-face {
    font-family: Pompadur; /* Гарнитура шрифта */
    src: url(./fonts/cambria.ttc); /* Для IE5-8 */
    src: local(pompadur), url(./fonts/cambriab.ttf); /* Для остальных браузеров */
}
.term{
     grid-area:term;
     font-family: Pompadur, 'Comic Sans MS', cursive;
    color: dimgray;
 }

